@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "daisyui" {
    themes: all;
}

@theme {
    --color-primary-gray: #BFC3C6;
    --color-secondary-gray: #58606a;
    --color-secondary-yellow: #F4C615;
    --color-header: #212529;
    --color-button: #0B5793;
    --font-display: "sans", "sans-serif";
}
