@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "daisyui" {
    themes: all;
}

@theme {
    --color-primary: #919499;
    --color-secondary-gray: #58606a;
    --color-secondary-yellow: #F4C615;
    --color-navbar: #0b5793;
}
